{
  "parser": "typescript-eslint-parser",
  "plugins": [
      "typescript"
  ],
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "env": {
    "es6":     true,
    "browser": true,
    "node":    true,
    "jest":   true
  },   
  "extends": [
      "eslint:recommended", 
      "plugin:react/recommended"
  ],
  "rules": {
      "no-console": "warn",
      "typescript/class-name-casing": "error",
      "typescript/explicit-function-return-type": "warn",
      "typescript/explicit-member-accessibility": "off",
      "typescript/adjacent-overload-signatures": "warn",
      "typescript/interface-name-prefix": "off",
      "typescript/member-delimiter-style": ["error", { 
        "delimiter": "semi", 
        "requireLast": true, 
        "ignoreSingleLine": true 
      }],
      "typescript/member-naming": "off",
      "typescript/member-ordering": "error",
      "typescript/no-angle-bracket-type-assertion": "warn",
      "typescript/no-array-constructor": "error",
      "typescript/no-empty-interface": "error",
      "typescript/no-explicit-any": ["off"],
      "typescript/no-namespace": "error",
      "typescript/no-non-null-assertion": "error",
      "typescript/no-parameter-properties": "off",
      "typescript/no-triple-slash-reference": "error",
      "typescript/no-type-alias": "off",
      "typescript/no-unused-vars": "error",
      "typescript/no-use-before-define": "error",
      "typescript/prefer-namespace-keyword": "error",
      "typescript/type-annotation-spacing": ["warn", { "before": false, "after": true }]
  }
}